MONGODBP=
db_password=
JWT_SECRET=
PORT=
app_email_pass=
app_email=


SESSION_SECRET=
GOOGLE_CLIENT_ID=
project_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
GOOGLE_CLIENT_SECRET =
GOOGLE_CALLBACK_URL=